label {
  cursor: pointer;
  color: white;
}

textarea {
  width: 400px;
  height: 150px;
}

/**********dark-mode*******/
.dark-mode .category-img .dash-dark {
  display: block; }
.dark-mode .category-img .dash-light {
  display: none; }
.dark-mode .db-client-lib .list-lib .list-lib-item.studio .item-icon {
  background-image: url(../images/icon-dash-dark.png);
  background-size: 35px auto; }
.dark-mode .hljsln .ln-num::before {
  color: #c1c3c5; }
.dark-mode .db-tooltip {
  background-color: #242a44;
  color: #a0aaba; }
  .dark-mode .db-tooltip:before {
    border-left-color: #242a44; }
.dark-mode .db-copy {
  background-color: #242a44; }
  .dark-mode .db-copy svg {
    fill: #ddd; }
.dark-mode header.header-main {
  transition: none !important; }
  .dark-mode header.header-main .logo-white {
    display: block; }
  .dark-mode header.header-main .logo-dark {
    display: none; }
.dark-mode .rendered_html {
  color: #a0aaba; }
.dark-mode .switch-mode .icon-dark {
  opacity: 1; }
.dark-mode .switch-mode .icon-light {
  opacity: 0; }
.dark-mode .switch::before {
  right: 18px !important;
  background-color: #878787 !important; }
.dark-mode body {
  background-color: #0e1012 !important;
  color: #a0aaba !important; }
.dark-mode .cell blockquote {
  background-color: transparent; }
.dark-mode .cell div.output_subarea.output_html.rendered_html {
  overflow-x: auto; }
.dark-mode .cell .text_cell_render h2 {
  color: #fff; }
.dark-mode header.header-main.\--default nav.--nav-meta > ul > li.languages > a {
  color: #fff; }
.dark-mode header.header-main.\--default nav.--nav-meta > ul > li.languages ul {
  background-color: #040404; }
.dark-mode header.header-main.\--default nav.--nav-meta > ul > li.languages ul li a:hover {
  background-color: #000;
  color: #2186f4 !important; }
.dark-mode .db-client-lib .list-lib .list-lib-item:hover {
  border: 1px solid #5a5a5a;
  text-decoration: none;
  background-color: #040404; }
.dark-mode .db-client-lib .list-lib .list-lib-item.current {
  border: 1px solid #5a5a5a;
  text-decoration: none;
  background-color: #040404; }
.dark-mode .db-client-lib .list-lib .list-lib-item p {
  color: #a0aaba; }
.dark-mode .highlight {
  background-color: #161a1d !important; }
.dark-mode .rendered_html pre,
.dark-mode .rendered_html code {
  color: #a0aaba; }
.dark-mode pre,
.dark-mode code,
.dark-mode .hljs {
  background: #161a1d !important;
  color: #a0aaba;
  line-height: 1.5rem;
  border: none !important; }
.dark-mode div.output_area pre {
  color: #a0aaba; }
.dark-mode .highlight1 {
  background: #040404 !important; }
.dark-mode pre1 {
  border: 1px solid #444343; }
.dark-mode .\--page-body {
  background-color: #0e1012 !important; }
.dark-mode header.header-main.\--default,
.dark-mode .header-large--wrap + header.header-main.\--default.affix {
  color: #fff !important;
  background-color: #0e1012 !important; }
.dark-mode div.text_cell_render {
  color: #a0aaba; }
.dark-mode .dash-plug {
  background-color: #161a1d; }
.dark-mode .\--tutorial-index .\--welcome .\--title h1,
.dark-mode .\--tutorial-index .\--welcome .\--title section.section h2,
.dark-mode section.section .\--tutorial-index .\--welcome .\--title h2 {
  color: #fff; }
.dark-mode .page--single .tutorial-content h1,
.dark-mode .page--single .tutorial-content section.section h2,
.dark-mode section.section .page--single .tutorial-content h2,
.dark-mode .page--single .tutorial-content h3,
.dark-mode .page--single .tutorial-content h4,
.dark-mode .page--single .tutorial-content .js-splash--section-title,
.dark-mode .page--single .tutorial-content h5 {
  color: #fff !important; }
.dark-mode .\--tutorial-index .\--welcome::before {
  background: #333; }
.dark-mode aside.\--sidebar-container {
  background: #040404; }
.dark-mode .breadcrumb-nav {
  color: #a0aaba; }
.dark-mode .nav-breadcrumb-container .breadcrumb-nav a {
  color: #a0aaba; }
.dark-mode .nav-breadcrumb-container .breadcrumb-nav span {
  color: #a0aaba; }
.dark-mode .nav-breadcrumb-container .--fork span {
  color: #a0aaba; }
.dark-mode .nav-breadcrumb-container .--fork svg path {
  fill: #a0aaba; }
.dark-mode .--section-header a {
  color: #fff !important; }
.dark-mode .\--tutorial-section .\--grid-item {
  background: transparent !important; }
.dark-mode .\--tutorial-section:not(.no-image) .\--grid-item .\--item-meta {
  color: #ffff !important; }
.dark-mode .\--tutorial-section:not(.no-image) .\--grid-item .\--item-meta {
  color: #a0aaba !important; }
.dark-mode .--body p a {
  color: #fff !important; }
  .dark-mode .--body p a:hover {
    text-decoration: underline; }
.dark-mode p a {
  color: #fff !important;
  font-weight: 600; }
.dark-mode .\--footer-main {
  background-color: #040404;
  border-top: 1px solid #0e1012; }
.dark-mode .\--footer-meta {
  border-top: none;
  background: #040404; }
.dark-mode .--footer-column h6 {
  color: #a0aaba !important; }
.dark-mode .\--footer-main ul a {
  color: #a0aaba;
  display: inline-block;
  margin: 2px 0; }
.dark-mode .subscribe-text {
  -webkit-margin-before: 0em;
  margin-block-start: 0em;
  font-size: 80%;
  color: #a0aaba; }
.dark-mode .\--api .hero {
  border-bottom: 1px solid #0e1012; }
.dark-mode .page.\--home .hero .\--welcome h2 {
  color: #ffffff !important; }
.dark-mode .page.\--home .hero .\--welcome span {
  color: #a0aaba;
  /* text-transform: uppercase; */ }
.dark-mode .page.\--home .\--documentation-categories {
  background-color: #0e1012;
  border-top: 1px solid #0e1012; }
.dark-mode .page.\--home .\--documentation-categories ul li {
  background: #0e1012;
  border: 1px solid #4b5156; }
.dark-mode .page.\--home .\--documentation-categories ul li h2 {
  color: #a0aaba; }